pytest~=6.2.5 
pytest-cov==2.5.1
pytest-mock
pytest-flake8
pytest-flask
pytest-flask-sqlalchemy
pytest-lazy-fixture
fakeredis
flake8<4 # Pin flake8 to version 3 to prevent StringIO error (see tholo/pytest-flake8#81)
six>=1.12
coveralls>3,<3.3.0
responses
