container_commands:
  01_upgrade_pip:
    command: "source /var/app/venv/*/bin/activate && python -m pip install --upgrade pip"
    leader_only: true
  02_upgrade_setuptools:
    command: "source /var/app/venv/*/bin/activate && python -m pip install --upgrade setuptools"
    leader_only: true

files:
  "/opt/python/run/venv/pip.conf":
    mode: "000755"
    owner: root
    user: root
    content: |
      [global]
      no-cache-dir=false
