option_settings:

  aws:elasticbeanstalk:environment:process:default:
    DeregistrationDelay: '20'
    HealthCheckInterval: '15'
    HealthCheckPath: /health
    HealthCheckTimeout: '5'
    HealthyThresholdCount: '3'
    UnhealthyThresholdCount: '5'
    Port: '80'
    Protocol: HTTP
    StickinessEnabled: 'true'
    StickinessLBCookieDuration: '43200'

  aws:elasticbeanstalk:application:environment:
    FLASK_APP: application
    FLASK_ENV: production

  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application

packages:
  yum:
    mariadb-devel: []
