<div class='my-legend' id='label_change_legend'>
    <div class='legend-title'>Label Change Legend</div>
    <div class='legend-scale'>
      <ul class='legend-labels'>
        <li><span style='background:#1b9e77;'></span>Converted</li>
        <li><span style='background:#d95f02;'></span>New</li>
        <li><span style='background:#7570b3;'></span>Deleted</li>
        <li><span style='background:#e7298a;'></span>Merged</li>
        <li><span style='background:#66a61e;'></span>Split</li>
        <li><span style='background:#e6ab02;'></span>Grown</li>
        <li><span style='background:#a6761d;'></span>Shrunk</li>
      </ul>
    </div>
</div>
    
<style type='text/css'>
    .my-legend {display: none}
    .legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
    }
    .my-legend .legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
    }
    .my-legend .legend-scale ul li {
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
    }
    .my-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
    }
    .my-legend a {
    color: #777;
    }
</style>