<!-- START infopane.html -->
<ul class="collapsible z-depth-0 infopane">
  <li>
    <div class="collapsible-header grey lighten-3">
      <i class="material-icons">help_outline</i>
      Instructions (Click to expand/collapse)
    </div>
    <div class="collapsible-body">
        <div class="row">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s2"><a class="active" href="#tab1">Overview</a></li>
              <li class="tab col s2"><a href="#tab2">Info Table</a></li>
              <li class="tab col s2"><a href="#tab3">Canvas</a></li>
              <li class="tab col s2"><a href="#tab4">Select Labels</a></li>
              <li class="tab col s2"><a href="#tab5">Tools</a></li>
              <li class="tab col s2"><a href="#tab6">Actions</a></li>
            </ul>
          </div>
          <div id="tab1" class="col s12">
            <p dir="ltr">
              DeepCell Label is a tool for correcting labels on biological images.
            </p>
            <p dir="ltr">
              Label shows an Info Table on the left with project details
              and an interactive Canvas on the right that shows images and labels.
              <br>
              See the Info Table tab to learn about table contents,
              and see the Canvas tab to learn its controls.
            </p>
            <p dir="ltr">
              We edit the labels by selecting them and then by clicking on the canvas, or pressing keybinds.
              See the Select Labels, Tools, and Actions tabs to learn more.
            </p>
          </div>
          <div id="tab2" class="col s12">
            <h4>The Infotable</h4>
            <p dir="ltr">
              The first three rows in the table tell us the which slice in an image stack we are currently viewing
              <br>
              <strong>frame</strong> tells which slice of an image stack we are viewing
              <br>
              Frames move through space (like a 3D vertical image stack) or through time (like a timelapse)
              <br>
              <strong>channel</strong> tells us which raw image channel we are viewing
              <br>
              Channels may be different imaging modalities, like phase or fluorescence, or different markers, like nuclear or
              cytoplasm
              <br>
              <strong>feature</strong> tells us which labeled features we are viewing
              <br>
              Features may be [FILL IN]
            </p>

            <p dir="ltr">
              The next three rows tell us where the canvas is within the current frame.
              <br>
              <strong>zoom</strong> tells us how much the frame is zoomed in
              <br>
              <strong>viewing (x)</strong> the visible horizontal range
              <br>
              <strong>viewing (y)</strong> the visible vertical range
            </p>
            
            <p dir="ltr">
              <strong>highlight</strong> tells us whether the label we're painting with is highlighted in red
              <br>
              <strong>brush size</strong> tells us the radius of the brush in pixels
            </p>
            
            <p dir="ltr">
              The next two rows tell us about the label the mouse is hovering over
              <br>
              <strong>label</strong> is label number under the mouse
              <br>
              <strong>slices</strong> is a list of the frames that the label is present in
            </p>
            
            <p dir="ltr">
              The next two rows tell us which labels we can edit with the brush tool
              <br>
              <strong>painting with label</strong> is the label the we brush will add to the canvas
              <br>
              <strong>painting over label</strong> is the label the brush will overwrite
            </p>
            
            <p dir="ltr">
              The last two rows are about label editing actions
              <br>
              <strong>tool</strong> tells us what action will happen when we click on the canvas
              See the Tools section.
              <br>
              <strong>confirm action</strong> is a prompt displayed before some actions
              <br>
              We can confirm the action with the Enter key, or cancel it with the Escape key.
              See the Actions section for more details.
            </p>

          </div>
          <div id="tab3" class="col s12">
            <h4>The Canvas</h4>
            
            <p dir="ltr">
              The right-side canvas shows an images and labels.
              Each label has a different color overlaid on the raw image.
            </p>
            
            <h5>Navigating the Canvas</h5>
            
            <p dir="ltr">
              To view the label, <strong>hover the mouse</strong> over the label.
            </p>
            
            <p dir="ltr">
              To zoom in, press the <strong>"+" key</strong> or <strong>hold Alt and scroll up</strong>
              <br>
              To zoom out, press the <strong>"-" key</strong> or <strong>hold Alt and scroll down</strong>
            </p>
            
            <p dir="ltr">
              To pan around, <strong>hold Space and move the mouse</strong> on the canvas.
            </p>
            
            <p dir="ltr">
              To view the next frame, press <strong>D key</strong> or press <strong>right arrow key</strong>.
              <br>
              To view the previous frame, press <strong>A key</strong> or press <strong>left arrow key</strong>.
            </p>
            
            <p dir="ltr">
              To view the next channel, press <strong>C key</strong>
              <br>
              To view the previous channel, press <strong>Shift + C key</strong>.
            </p>
            
            <p dir="ltr">
              To view the next feature, press <strong>F key</strong>
              <br>
              To view the previous feature, press <strong>Shift + F key</strong>.
            </p>
            
            <h5>Adjusting the Canvas</h5>
            
            <p dir="ltr">
              DeepCell Label can adjust how to dispaly labels and images.
              With these changes, we can make out finer details while labeling.
            </p>
            
            <p dir="ltr">
              To change the raw image brightness, <strong>scroll</strong> with the mouse on the canvas.
              <br>
              To adjust the raw image contrast, <strong>hold Shift and scroll</strong> with the mouse on the canvas.
              <br>
              To reset the brightness and contrast, press <strong>0 key</strong>.
            </p>
            
            <p dir="ltr">
              To toggle between viewing the label overlay, the labels only, and the raw image only, press <strong>Z key</strong>.
            </p>
            
            <p dir="ltr">
              To toggle highlighting the brush label in red, press <strong>H key</strong>.
            </p>
          </div>
          <div id="tab4" class="col s12">
            <h4>Select Labels</h4>
          
            <p dir="ltr">
              We control which labels we cab edit by selecting them as
              the <strong>foreground</strong> or the <strong>background</strong>.
              <br>
              When a label is the foreground, we can add more of that label,
              while when a label is background, we can remove it.
              <br>
              You select "no label" as either the foreground, 
              which lets us remove existing labels, or the background, 
              which lets us labels over unlabeled areas.
            </p>

            <p dir="ltr">
              We can select a label as the foreground in two ways:
              <br>
              <strong>Click</strong> on it while using the Select Tool
              <br>
              <strong>Shift + Double Click</strong> while using any Tool.
            </p>

            <p dir="ltr">
              We can select a label as the background in two ways:
              <br>
              <strong>Double Click</strong> on it while using the Select Tool.
              <br>
              <strong>Shift + Click</strong> while using any Tool.
            </p>

            <p dir="ltr">
              Double clicking also deselects other labels, instead making "no label" the other selected label.
              This helps avoid having selected labels that you are no longer working on.
            </p>

            <p dir="ltr">
              When you select an label that is already selected,
              the foreground and background will swap.
              <br>
              Use this as a shortcut when working on a pair of labels, like adjusting their boundary
              so you can quickly work in both directions.
            </p>
          
            <p dir="ltr">
              Here are some keyboard shortcuts to change the selected labels.
              <br>
              Press <strong>Escape</strong> to reset the background to "no label".
              <br>
              Press <strong>N</strong> to select a new, unused foreground label. This will be a label that
              doesn't exist yet in the labeling. Once you add the new label, <strong>N</strong> will select a new, even higher label.
              <br>
              Press <strong>X</strong> to swap the foreground and background. Remember that you
              can also swap them by selecting either label a second time with the mouse.
              <br>
              To cycle the foreground labels, press the <strong>[ key</strong> (to cycle backwards) 
              or the <strong>] key</strong> (to cycle forwards).
              <br>
              To cycle the background labels to paint over, press <strong>Shift + [</strong> (to cycle backwards) 
              or <strong>Shift + ]</strong> (to cycle forwards).
            </p>
          </div>
          <div id="tab5" class="col s12">
            <h4>Tools</h4>
            
            <p dir="ltr">
              The tool changes how we edit selected labels when clicking on the canvas.
            </p>
            <h5>Select</h5>

            <p dir="ltr">
              Label starts using the Select tool, which selects a label when we click on it.
              <br>
              <strong>Click</strong> on a label to select it as the foreground, or
              <br>
              <strong>Double Click</strong> on a label to select it as the background.
              <br>
              Remember you can also select labels while using other tools with
              <br>
              <strong>Shift + Click</strong> to select the background, or
              <br>
              <strong>Shift + Double Click</strong> to select the foreground.
              <br>
              Selecting with Double Click will deselect other labels.
            </p>

            <p dir="ltr">
              Press the <strong>V key</strong> to use the Select tool.
            </p>


            <h5>Brush</h5>
            
            <p dir="ltr">
              The Brush tool paints labels onto the canvas with a <strong>Click + Drag</strong>.
              The brush will overwrite the background label with the foreground label,
              leaving other labels unchanged.
            </p>
            
            <p dir="ltr">
              We can increase the brush size by pressing <strong>Up Arrow key</strong>
              and decrease the brush size by pressing <strong>Down Arrow key</strong>.
            </p>
            
            <p dir="ltr">
              Press the <strong>B key</strong> to use the Brush tool.
            </p>
            
            <h5>Threshold</h5>
            
            <p dir="ltr">
              The Threshold tool fills the brightest pixels within a bounding box with
              the foreground label. The tool only overwrites unlabeled area and 
              does not edit any other labels.
              <br>
              <strong>Click + Drag</strong> on the canvas to draw a bounding box and threshold.
            </p>
            
            <p dir="ltr">
              Press the <strong>T key</strong> to use the Threshold tool.
            </p>
            
            <h5>Grow and Shrink</h5>
            
            <p dir="ltr">
              The Grow/Shrink tool expands the foreground label by one pixel
              or contracts the background label by one pixel.
              
              <br>
              When you <strong>Click</strong> on the foreground label, its boundary grows.
              <br>
              When you <strong>Click</strong> on the background label, its boundary shrinks.
              <br>
            </p>

            <p dir="ltr">
              Press the <strong>Q key</strong> to use the Grow/Shrink tool.
            </p>
            
            <h5>Flood</h5>
            
            <p dir="ltr">
              The Flood tool fills the background label with the foreground label.
              <br>
              <strong>Click</strong> on the background label to flood it.
              <br>
              If you click on an unselected region with this tool, it becomes the background label,
              so when you click on it again, you flood the region.
            
            </p>
            
            <p dir="ltr">
              Press the <strong>G key</strong> to use the Flood tool.
            </p>
            
            <h5>Trim</h5>
            
            <p dir="ltr">
              The Trim tool removes disconnected areas of the background label, leaving only the connected pixels behind.
              <br>
              <strong>Click</strong> on the background label to trim it. Only the pixels connected to where
              you click will remain.
              <br>
              If you click on an unselected label, it becomes the background label,
              so when you click on it again, you trim the label.
            
            </p>
            
            <p dir="ltr">
              Press the <strong>K key</strong> to use the Trim tool.
            </p>
            
            <h5>Autofit</h5>
            
            <p dir="ltr">
              The Autofit tool adjusts foreground label boundary to hug the nearest edges in the raw image.
              <br>
              This tool can fix the boundaries of an existing label, but cannot create a label from scratch.
              <br>
              <strong>Click</strong> on the foreground label to autofit it.
              <br>
              If you click on an unselected label, it becomes the foreground label,
              so when you click on it again, you autofit the label.
            
            </p>
            
            <p dir="ltr">
              Press the <strong>M key</strong> to use the Autofit tool.
            </p>
            
            
            <h5>Watershed</h5>
            
            <p dir="ltr">
              The Watershed tool splits the foreground label into two.
              We can separate adjacent cells that mistakenly have the same label with Watershed.
              <br>
              <strong>Click</strong> in the center of one cell, 
              then <strong>Click</strong> in the center of another cell elsewhere in the same label
              to split them with Watershed.
            </p>
            
            <p dir="ltr">
              Press the <strong>W key</strong> to use the Watershed tool.
            </p>

            <h4>Select Shortcuts</h4>

            <p dir="ltr">
              Tools like Autofit or Flood only edit labels when you click on the foreground or the
              background label.
              <br> To make these tools easier to use, clicking on an unselected label will
              select it instead of doing an action.
              After clicking once to select, a second click on the same label will always use the tool.
              <br>
              The Grow/Shrink, Autofit, and Watershed tools will select labels as the foreground.
              <br>
              The Trim and Flood tools will select labels as the background.
            </p>

          </div>
          <div id="tab6" class="col s12">
            <h4>Actions</h4>
            
            <p dir="ltr">
              Some actions are done with a keybind instead of clicking on the canvas.
              <br>
              These actions will need to be confirmed first by pressing <strong>Enter</strong>.
              Press <strong>Escape</strong> to cancel an action instead.
            </p>
            
            <p dir="ltr">
              To swap the label foreground and background labels, press <strong>S key</strong>.
              This action can only swaps the labels on the current frame.
            </p>
            
            <p dir="ltr">
              To replace the background label with the foreground label, press <strong>R key</strong>.
              To replace the background label on all frames, press <strong>Shift + R</strong>.
            </p>
            
            <p dir="ltr">
              To predict the labels based on the previous frame, press <strong>O key</strong>.
              To predict the labels on all frames, press <strong>Shift + O</strong>.
            </p>
          </div>
        </div>
    </div>
  </li>
</ul>
<!-- END infopane.html -->
