<!-- START infopane.html -->
<ul class="collapsible z-depth-0 infopane">
  <li>
    <div class="collapsible-header grey lighten-3">
      <i class="material-icons">help_outline</i>
      Instructions (Click to expand/collapse)
    </div>
    <div class="collapsible-body">
        <div class="row">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s2"><a class="active" href="#tab1">Overview</a></li>
              <li class="tab col s2"><a href="#tab2">Info Table</a></li>
              <li class="tab col s2"><a href="#tab3">Canvas</a></li>
              <li class="tab col s2"><a href="#tab4">Select Labels</a></li>
              <li class="tab col s2"><a href="#tab5">Tools</a></li>
              <li class="tab col s2"><a href="#tab6">Actions</a></li>
            </ul>
          </div>
          <div id="tab1" class="col s12">
            <p dir="ltr">
              DeepCell Label is a tool for correcting labels on biological images.
            </p>
            <p dir="ltr">
              Label shows an Info Table on the left with project details
              and an interactive Canvas on the right that shows images and labels.
              <br>
              See the Info Table tab to learn about table contents,
              and see the Canvas tab to learn its controls.
            </p>
            <p dir="ltr">
              Clicking on the Canvas with a Tool,
              or use an Action with a keybind to edit the labels.
              <br>
              Select Labels with <strong>Shift + Click</strong> to edit them with these Tools and Actions.
            </p>
          </div>
          <div id="tab2" class="col s12">
            <h4>The Infotable</h4>
            <p dir="ltr">
              The first three rows in the table tell us the which slice in an image stack we are currently viewing
              <br>
              <strong>frame</strong> tells which slice of an image stack we are viewing
              <br>
              Frames move through space (like a 3D vertical image stack) or through time (like a timelapse)
              <br>
              <strong>channel</strong> tells us which raw image channel we are viewing
              <br>
              Channels may be different imaging modalities, like phase or fluorescence, or different markers, like nuclear or
              cytoplasm
              <br>
              <strong>feature</strong> tells us which labeled features we are viewing
              <br>
              Features may be [FILL IN]
            </p>

            <p dir="ltr">
              The next three rows tell us where the canvas is within the current frame.
              <br>
              <strong>zoom</strong> tells us how much the frame is zoomed in
              <br>
              <strong>viewing (x)</strong> the visible horizontal range
              <br>
              <strong>viewing (y)</strong> the visible vertical range
            </p>
            
            <p dir="ltr">
              <strong>highlight</strong> tells us whether the label we're painting with is highlighted in red
              <br>
              <strong>brush size</strong> tells us the radius of the brush in pixels
            </p>
            
            <p dir="ltr">
              The next two rows tell us about the label the mouse is hovering over
              <br>
              <strong>label</strong> is label number under the mouse
              <br>
              <strong>slices</strong> is a list of the frames that the label is present in
            </p>
            
            <p dir="ltr">
              The next two rows tell us which labels we can edit with the brush tool
              <br>
              <strong>painting with label</strong> is the label the we brush will add to the canvas
              <br>
              <strong>painting over label</strong> is the label the brush will overwrite
            </p>
            
            <p dir="ltr">
              The last two rows are about label editing actions
              <br>
              <strong>tool</strong> tells us what action will happen when we click on the canvas
              See the Tools section.
              <br>
              <strong>confirm action</strong> is a prompt displayed before some actions
              <br>
              We can confirm the action with the Enter key, or cancel it with the Escape key.
              See the Actions section for more details.
            </p>

          </div>
          <div id="tab3" class="col s12">
            <h4>The Canvas</h4>
            
            <p dir="ltr">
              The right-side canvas shows an images and labels.
              Each label has a different color overlaid on the raw image.
            </p>
            
            <h5>Navigating the Canvas</h5>
            
            <p dir="ltr">
              To view the label, <strong>hover the mouse</strong> over the label.
            </p>
            
            <p dir="ltr">
              To zoom in, press the <strong>"+" key</strong> or <strong>hold Alt and scroll up</strong>
              <br>
              To zoom out, press the <strong>"-" key</strong> or <strong>hold Alt and scroll down</strong>
            </p>
            
            <p dir="ltr">
              To pan around, <strong>hold Space and move the mouse</strong> on the canvas.
            </p>
            
            <p dir="ltr">
              To view the next frame, press <strong>D key</strong> or press <strong>right arrow key</strong>.
              <br>
              To view the previous frame, press <strong>A key</strong> or press <strong>left arrow key</strong>.
            </p>
            
            <p dir="ltr">
              To view the next channel, press <strong>C key</strong>
              <br>
              To view the previous channel, press <strong>Shift + C key</strong>.
            </p>
            
            <p dir="ltr">
              To view the next feature, press <strong>F key</strong>
              <br>
              To view the previous feature, press <strong>Shift + F key</strong>.
            </p>
            
            <h5>Adjusting the Canvas</h5>
            
            <p dir="ltr">
              DeepCell Label can adjust how to dispaly labels and images.
              With these changes, we can make out finer details while labeling.
            </p>
            
            <p dir="ltr">
              To change the raw image brightness, <strong>scroll</strong> with the mouse on the canvas.
              <br>
              To adjust the raw image contrast, <strong>hold Shift and scroll</strong> with the mouse on the canvas.
              <br>
              To reset the brightness and contrast, press <strong>0 key</strong>.
            </p>
            
            <p dir="ltr">
              To toggle between viewing the label overlay, the labels only, and the raw image only, press <strong>Z key</strong>.
            </p>
            
            <p dir="ltr">
              To toggle highlighting the brush label in red, press <strong>H key</strong>.
            </p>
          </div>
          <div id="tab4" class="col s12">
            <h4>Select Labels</h4>
          
            <p dir="ltr">
              Many tools will only edit the selected labels.
              Select different labels to edit them.
            </p>

            <p dir="ltr">
              Select a label by holding the <strong>Shift key</strong> and clicking on that label.
              At first, the label will be selected to paint over, but selecting it a second time will select it to paint with.
            </p>
          
            <p dir="ltr">
              To unselect everything, press <strong>Escape</strong>.
              <br>
              To select a new label to paint with, press <strong>N key</strong>.
              <br>
              To swap the labels to paint with and over, press <strong>X key</strong>.
              <br>
              To cycle between labels to paint with, press <strong>[ key</strong> (to cycle backwards) or <strong>] key</strong>
              (to
              cycle forwards).
              <br>
              To cycle between labels to paint over, press <strong>Shift + [</strong> (to cycle backwards) or <strong>Shift +
                ]</strong> (to cycle forwards).
            </p>
          
            <p dir="ltr">
              If you select the same label to both paint with and over, Label will instead swap the labels.
            </p>
          </div>
          <div id="tab5" class="col s12">
            <h4>Tools</h4>
            
            <p dir="ltr">
              The tool controls how we edit selected labels when clicking on the canvas.
            </p>
            <h5>No Tool</h5>

            <p dir="ltr">
              Label starts using none of the tools.
              <br>
              Select labels by clicking on them while using the none tool instead of just Shift + click.
              <br>
              Use one of the keybinds listed below to switch to that tool.
              <br>
              You can switch back by to the none tool by pressing the keybind the current tool again,
              like pressing <strong>B</strong> while you are already using the brush tool.
            </p>


            <h5>Brush</h5>
            
            <p dir="ltr">
              The brush tool lets us paint labels onto the canvas by clicking and dragging.
              The brush will overwrite the label we're painting over with the label we're painting with,
              leaving other labels unchanged.
            </p>
            
            <p dir="ltr">
              We can increase the brush size by pressing <strong>up arrow key</strong>
              and decrease the brush size pressing <strong>down arrow key</strong>.
            </p>
            
            <p dir="ltr">
              Switch to the brush by pressing <strong>B key</strong>.
            </p>
            
            <h5>Threshold</h5>
            
            <p dir="ltr">
              The threshold tool fills the brightest pixels within a bounding box with
              the label we're painting with. The tool will only overwrite the background and 
              won't edit any other labels.
              <br>
              Draw a bounding box by clicking and dragging on the canvas.
            </p>
            
            <p dir="ltr">
              Switch to the threshold tool by pressing <strong>T key</strong>.
            </p>
            
            <h5>Grow and Shrink</h5>
            
            <p dir="ltr">
              The grow and shrink tool expands or contracts a label's boundary by one pixel.
              The tool expands labels selected as the foreground, and contracts labels selected as the background.
              <br>
              To grow or shrink a label, select it then <br>Click<br> on it.
              <br>
              Click on an unselected label to make it the foreground label, then click again to grow it.
              <br>
              Shift + Click an unselected label to make it the background label, then click to shrink it.
            </p>

            <p dir="ltr">
              Switch to the grow and shrink tool by pressing <strong>Q key</strong>.
            </p>
            
            <h5>Flood</h5>
            
            <p dir="ltr">
              The flood tool fills the background label with the foreground label.
              <br>
              To flood a region, select it as the background then <strong>Click</strong> on it.
              <br>
              If you click on an unselected region with this tool, it becomes the background label,
              so when you click on it again, you flood the region.
            
            </p>
            
            <p dir="ltr">
              Switch to the flood tool by pressing <strong>G key</strong>.
            </p>
            
            <h5>Trim</h5>
            
            <p dir="ltr">
              The trim tool removes disconnected regions of the background label, leaving only the connected pixels behind.
              <br>
              To trim a region, select it as the background then <strong>Click</strong> on it.
              <br>
              If you click on an unselected label, it becomes the background label,
              so when you click on it again, you trim the label.
            
            </p>
            
            <p dir="ltr">
              Switch to the trim tool by pressing <strong>K key</strong>.
            </p>
            
            <h5>Autofit</h5>
            
            <p dir="ltr">
              The autofit tool adjusts the boundary of the foreground label to hug the nearest edges in the raw image.
              <br>
              This tool can fix the boundaries of an existing label, but cannot create a label from scratch.
              <br>
              To autofit a region, select it as the foreground and <strong>Click</strong> on it.
              <br>
              If you click on an unselected label, it becomes the foreground label,
              so when you click on it again, you autofit the label.
            
            </p>
            
            <p dir="ltr">
              Switch to the autofit tool by pressing <strong>M key</strong>.
            </p>
            
            
            <h5>Watershed</h5>
            
            <p dir="ltr">
              The watershed tool splits the foreground label into two, allowing us to separate adjacent cells that have been given the same
              label.
              <br>
              <strong>Click</strong> once on a label, then <strong>Click</strong> elsewhere in the same label.
              <br>
              These clicks should be the centers of the cells you are trying to separate. 
              <br>
              The first click keeps the same label, and the second click becomes a new label.
            </p>
            
            <p dir="ltr">
              Switch to the watershed tool by pressing <strong>W key</strong>.
            </p>
          </div>
          <div id="tab6" class="col s12">
            <h4>Actions</h4>
            
            <p dir="ltr">
              Some actions are done with a keybind instead of clicking on the canvas.
              <br>
              These actions will need to be confirmed first by pressing <strong>Enter</strong>.
              Press <strong>Escape</strong> to cancel an action instead.
            </p>
            
            <p dir="ltr">
              To swap the label we're painting over and the label we're painting with, press <strong>S key</strong>.
              This action only swaps the labels on the current frame.
            </p>
            
            <p dir="ltr">
              To replace the label we're painting over with the label we're painting with, press <strong>R key</strong>.
              To replace the label on all frames, press <strong>Shift + R</strong>.
            </p>
            
            <p dir="ltr">
              To predict the labels based on the previous frame, press <strong>O key</strong>.
              To predict the labels on all frames, press <strong>Shift + O</strong>.
            </p>
          </div>
        </div>
    </div>
  </li>
</ul>
<!-- END infopane.html -->
