<!-- START infopane_abridged.html -->
<ul class="collapsible z-depth-0 infopane">
  <li>
    <div class="collapsible-header grey lighten-3">
      <i class="material-icons">help_outline</i>
      Instructions (Click to expand/collapse)
    </div>
    <div class="collapsible-body">
      <p dir="ltr">
        Caliban is a tool designed for the correction of biological image annotations.
        Annotations can be corrected with whole-label modifications or pixel-level editing.
        Caliban displays images as well as useful information about the images to guide corrections.
      </p>

      <p dir="ltr">
        The right pane of Caliban displays a multichannel image of cells.
        By default, this shows the cell segmentation masks for that image, but can be toggled to display the raw image.
        Each label can be displayed with a different color or as outlines overlaid on top of the raw image.
        In pixel-editing mode, the raw image is overlaid with its annotations.
      </p>

      <p dir="ltr">
        The left pane of Caliban displays information.
        When you mouse over a cell in the right pane, information about that cell will be displayed in the bottom left corner.
        Cell selections and confirmations will also be displayed in the bottom left corner.
      </p>

      <h5>The Keyboard Tools</h5>

      <h6><em>Universal</em></h6>

      <p><strong>Mouse</strong> over a cell mask to see cell label and lineage information.</p>

      <p><strong>Spacebar + click and drag</strong> to pan across the viewed image.</p>

      <p><strong>Scroll Wheel</strong> | In raw image or edit mode, scroll up/down to change the contrast of the image. Hold down the shift key while scrolling to change the brightness. (These values can be reset by pressing 0.)&nbsp;</p>

      <p><strong>Alt+Scroll Wheel</strong> or <strong>-</strong> and <strong>=</strong> | Zoom in and out on the image.</p>

      <p><strong>0 (zero)</strong> | Reset the brightness and contrast settings, if viewing the raw image or in pixel-editing mode.&nbsp;</p>

      <p><strong>z</strong> | Switch between annotations and raw images; use this to check if your masks and labels match up to the actual cell image.</p>

      <p><strong>e</strong> | Toggle between whole-label and pixel-editing modes. Note: this will not toggle between modes if anything is selected.</p>

      <p><strong>esc</strong> | Cancel operation; do this if you click on a cell(s) and want to undo your click.</p>

      <h6><em>Whole-label mode (default)</em></h6>

      <p><strong>L</strong> to toggle between solid-label and label outline displays.</p>

      <p><strong>space</strong> to confirm actions.</p>

      <p><strong>Click</strong> on a cell mask to select it.</p>

      <p><em>Single-Click Edit Operations:</em></p>

      <p><strong>shift+click</strong> | <em><u>trim pixels</u></em>: hold down the shift key while clicking on a cell. This will trim away stray pixels from the part of the label you clicked on. This can be used to quickly clean up a cell annotation if there are disconnected pixels with that label that should not exist.&nbsp;</p>

      <p dir="ltr"><strong>x</strong> | <em><u>delete</u></em>: click on one cell mask (cell A). Hit "x" to delete the mask. This will remove all pixels of that label mask.</p>

      <p dir="ltr"><em>Two-Click Edit Operations:</em></p>

      <p><strong>r</strong> | <em><u>replace</u></em>: click on one cell mask (cell A) then another (cell B). Hit “r” to replace all pixels of label B with label A.</p>

      <h6><em>Pixel-editing mode</em></h6>

      <p><strong>Click</strong> or <strong>click and drag</strong> to use the brush. Brush will draw the value that it is set to and will not overwrite other labels.</p>

      <p><strong>n</strong> | Set brush to an unused value</p>

      <p><strong>p</strong> | Turn on color picker (click on a label to set brush to that value)</p>

      <p><strong>x</strong> | Toggle eraser mode on or off. Eraser will only erase labels that the brush is set to.</p>

      <p><strong>r</strong> | Turn on conversion brush (allows you to replace one label with another without affecting background, follow prompts)</p>

      <p><strong>down arrow key</strong> | Decrease the brush size</p>

      <p><strong>up arrow key</strong> | Increase the brush size</p>

      <p><strong>-</strong> | Decrease the value of the brush</p>

      <p><strong>=</strong> | Increase the value of the brush</p>

    </div>
  </li>
</ul>
<!-- END infopane_abridged.html -->
