<!-- prompts for label editing actions -->
<div class='row center-align' style='display:none'>
    <div class='column s12'>
        <p id='promptText'></p>
    </div>
</div>
<!-- buttons for label editing actions with single frame, all frames, and cancel -->
<div class='row' style='display:none' id='confirm3Buttons'>
    <div class='col s4 center-align'>
        <button class="waves-effect waves-light btn green"
       type="submit" id="undo">
          <i class="material-icons left">crop_portrait</i>Single Frame
        </button>
    </div>
    <div class='col s4 center-align'>
        <button class="waves-effect waves-light btn green"
       type="submit" id="undo">
          <i class="material-icons left">content_copy</i>All Frames
        </button>
    </div>
    <div class='col s4 center-align'>
        <button class="waves-effect waves-light btn red"
       type="submit" id="undo">
          <i class="material-icons left">cancel</i>Cancel
        </button>
    </div>

</div>
<!-- buttons for label editing actions with confirm and cancel -->
<div class='row' style='display:none' id='confirm2Buttons'>
    <div class='col s6 center-align'>
        <button class="waves-effect waves-light btn green"
       type="submit" id="undo" disabled=true hidden=true>
          <i class="material-icons left">check_circle</i>Confirm
        </button>
    </div>
    <div class='col s6 center-align'>
        <button class="waves-effect waves-light btn red"
       type="submit" id="undo">
          <i class="material-icons left">cancel</i>Cancel
        </button>
    </div>
</div>
