<table id="info-table" class="striped info-table">
  <tr>
    <td>frame: </td>
    <td id="frame"></td>
  </tr>
  <tr>
    <td>highlight cells: </td>
    <td id="highlight"></td>
  </tr>
  <tr>
    <td>highlighted cells: </td>
    <td id="currently_highlighted"></td>
  </tr>
  <tr>
    <td>editing: </td>
    <td id="edit_mode"></td>
  </tr>
  <tr id="edit_brush_row">
    <td>brush size: </td>
    <td id="edit_brush"></td>
  </tr>
  <tr id="edit_label_row">
    <td>editing label: </td>
    <td id="edit_label"></td>
  </tr>
  <tr id="edit_erase_row">
    <td>eraser: </td>
    <td id="edit_erase"></td>
  </tr>
  <tr>
    <td>label:</td>
    <td id="label"></td>
  </tr>
  <tr>
    <td>frames:</td>
    <td><div id="frames"></div></td>
  </tr>
  <tr>
    <td>parent:</td>
    <td id="parent"></td>
  </tr>
  <tr>
    <td>daughters:</td>
    <td id="daughters"></td>
  </tr>
  <tr>
    <td>frame div:</td>
    <td id="frame_div"></td>
  </tr>
  <tr>
    <td>capped:</td>
    <td id="capped"></td>
  </tr>
  <tr>
    <td>state:</td>
    <td id="mode"></td>
  </tr>
</table>
