<table id="info-table" class="striped info-table">
  <tr><td>frame: </td><td id="frame"></td></tr>
  <tr><td>channel: </td><td id="channel"></td></tr>
  <tr><td>feature: </td><td id="feature"></td></tr>
  <tr><td>zoom: </td><td id="zoom"></td></tr>
  <tr><td>viewing (x): </td><td id="displayedX"></td></tr>
  <tr><td>viewing (y): </td><td id="displayedY"></td></tr>
  <tr><td>highlight cells: </td><td id="highlight"></td></tr>
  <tr><td>highlighted cells: </td><td id="currently_highlighted"></td></tr>
  <tr><td>editing: </td><td id="edit_mode"></td></tr>
  <tr id='edit_brush_row'>
    <td>brush size: </td><td id="edit_brush"></td>
  </tr>
  <tr id='edit_label_row'>
    <td>editing label: </td><td id="edit_label"></td>
  </tr>
  <tr id='edit_erase_row'>
    <td>eraser: </td><td id="edit_erase"></td>
  </tr>
  <tr><td>label:</td><td id="label"></td></tr>
  <tr><td>slices:</td><td><div id="slices"></div></td></tr>
  <tr><td>state:</td><td id="mode"></td></tr>
</table>
