/* START Materialize Sticky Footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
/* END Materialize Sticky Footer */

/* START navbar CSS */
.nav-wrapper {
  padding-right: 1em;
  padding-left: 1em;
}
/* END navbar CSS */

/* START infopane CSS */
.infopane {
  margin-top: 0;
  border: 0;
}

.infopane li.active div.collapsible-header,
.infopane li div.collapsible-header:hover {
  background-color: #ccc!important;
  transition: 0.4s
}

.infopane li div.collapsible-body {
  padding-top: 0;
}
/* END infopane CSS */

/* START log table CSS */

/* END log table CSS */

#edit_brush_row, #edit_label_row, #edit_erase_row {
  visibility: hidden;
}

#frames, #slices {
  width: 180px;
  word-wrap: break-word;  /*All browsers since IE 5.5+*/
  overflow-wrap: break-word;
  max-height: 68px;
  overflow: auto;
}

#mode {
  width: 180px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

#canvas {
  cursor: crosshair;
  background: black;
  /* box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); */
}

#hidden_seg_canvas {
  display: none;
}

#give_filename {
  display: block;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 300px;
}
