/* START Materialize Sticky Footer */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}
/* END Materialize Sticky Footer */

/* START container width override */
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
@media only screen and (min-width: 601px) {
  .container {
    width: 90%;
  }
}
@media only screen and (min-width: 993px) {
  .container {
    width: 90%;
  }
}
@media only screen and (min-width: 1201px) {
  .container {
    width: 90%;
  }
}
/* END container width override */

/* START navbar CSS */
.nav-wrapper {
  padding-left: 1em;
  padding-right: 1em;
}
/* END navbar CSS */

/* START infopane CSS */
.infopane {
  border: 0;
  margin-top: 0;
}

.infopane .active div.collapsible-header,
.infopane li div.collapsible-header:hover {
  background-color: #ccc!important;
  transition: 0.4s
}

.infopane li .collapsible-body {
  padding-top: 0;
}
/* END infopane CSS */

/* START log table CSS */
.info-table tr td {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  text-align: left;
}
.info-table tr td:nth-child(odd) {
  width: 40%;
}
.info-table tr td:nth-child(even) {
  width: 60%;
}
/* END log table CSS */

#edit_brush_row, #edit_label_row, #edit_erase_row {
  visibility: hidden;
}

#frames, #slices {
  overflow: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;  /*All browsers since IE 5.5+*/
}

#mode {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

#canvas {
  background: black;
  cursor: crosshair;
}

#output {
  display: block;
  max-width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
