.frame-info {
    padding: 1em;
}

.file-input {
    padding: 1em;
}

.frame-info * {
    display: block;
}

.view_mode * {
    display: block;
}

.cell-info-block {
    margin: 1em 1em 1em 0em;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.image-state {
    padding: 1em;
}

.cell-info-block * {
    display: block;
}

#container {
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#maintable {
    width: 900px;
    height: 500px;
    /* outline: 1px dashed blue; */
}

.changed-label {
    text-align: center;
}
 #logcol, #canvascol{
    vertical-align: top;
 }

#logcol {
    box-sizing: border-box;
    border-radius: 1em;
    width: 20em;
}

#edit_brush_row, #edit_label_row, #edit_erase_row {
    visibility: hidden;
}

#frames, #slices {
    width: 180px;
    word-wrap: break-word;          /*All browsers since IE 5.5+*/
    overflow-wrap: break-word;
    max-height: 68px;
    overflow: auto;
}

#mode {
    width: 180px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#canvas {
    cursor: crosshair;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

#hidden_canvas, #hidden_seg_canvas {
    display: none;
}

#canvascol {
    vertical-align: top;
}

#give_filename {
    display: block;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 300px;
}