
.navbar {
    /* Font */
    font-weight: 500;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    /*  */
    color: #ffffff;
    background-color: #3f51b5;
    width: 100%;
    display: flex;
    z-index: 1100;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-direction: row;
    height: 5em;
    justify-content: space-between;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.logo, .nav-link {
    width: 100px;
}

.logo {
    font-size: 1.5em;
    margin-top: 1em;
    margin-left: 1em;
    order: 1;
    align-content: flex-start;
}

.nav-link {
}

.buttons {
    float: right;
    order: 2;
    margin-top: 2em;
    align-content: flex-end;
    margin-right: 1em;
}

.nav-link:last-child{
    margin-left: 1em;
}