<!-- START infopane.html -->
<ul class="collapsible z-depth-0 infopane">
  <li>
    <div class="collapsible-header grey lighten-3">
      <i class="material-icons">help_outline</i>
      Instructions (Click to expand/collapse)
    </div>
    <div class="collapsible-body">
        <div class="row">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s2"><a class="active" href="#tab1">Overview</a></li>
              <li class="tab col s2"><a href="#tab2">Info Table</a></li>
              <li class="tab col s2"><a href="#tab3">Canvas</a></li>
              <li class="tab col s2"><a href="#tab4">Select Labels</a></li>
              <li class="tab col s2"><a href="#tab5">Tools</a></li>
              <li class="tab col s2"><a href="#tab6">Actions</a></li>
            </ul>
          </div>
          <div id="tab1" class="col s12">
            <p dir="ltr">
              DeepCell Label is a tool for correcting labels on biological images.
            </p>
            <p dir="ltr">
              Label shows an Info Table on the left with project details
              and an interactive Canvas on the right that shows images and labels.
              <br>
              See the Info Table tab to learn about table contents,
              and see the Canvas tab to learn its controls.
            </p>
            <p dir="ltr">
              We edit the labels by selecting them and then by clicking on the canvas, or pressing keybinds.
              See the Select Labels, Tools, and Actions tabs to learn more.
            </p>
          </div>
          <div id="tab2" class="col s12">
            <h4>The Infotable</h4>
            <p dir="ltr">
              The first three rows in the table tell us the which slice in an image stack we are currently viewing
              <br>
              <strong>frame</strong> tells which slice of an image stack we are viewing
              <br>
              Frames move through space (like a 3D vertical image stack) or through time (like a timelapse)
              <br>
              <strong>channel</strong> tells us which raw image channel we are viewing
              <br>
              Each channel may be different imaging modalities, like phase or fluorescence, or different markers, like nuclear or
              cytoplasm
              <br>
              <strong>feature</strong> tells us which labeled features we are viewing
              <br>
              Each feature is a different annotated structure, like a nuclear segmentation or a whole-cell segmentation
            </p>

            <p dir="ltr">
              The next three rows tell us where the canvas is within the current frame.
              <br>
              <strong>zoom</strong> tells us how much the frame is zoomed in
              <br>
              <strong>viewing (x)</strong> the visible horizontal range
              <br>
              <strong>viewing (y)</strong> the visible vertical range
            </p>
            
            <p dir="ltr">
              <strong>highlight</strong> tells us whether the label we're painting with is highlighted in red
              <br>
              <strong>brush size</strong> tells us the radius of the brush in pixels
            </p>
            
            <p dir="ltr">
              The next two rows tell us about the label the mouse is hovering over
              <br>
              <strong>label</strong> is label number under the mouse
              <br>
              <strong>slices</strong> is a list of the frames that the label is present in
            </p>
            
            <p dir="ltr">
              The next two rows tell us which labels we can edit with the brush tool
              <br>
              <strong>painting with label</strong> is the label the we brush adds to the canvas
              <br>
              <strong>painting over label</strong> is the label the brush overwrites
            </p>
            
            <p dir="ltr">
              The last two rows are about label editing actions
              <br>
              <strong>tool</strong> tells us what action happens when we click on the canvas
              See the Tools section.
              <br>
              <strong>confirm action</strong> is a prompt displayed before some actions
              <br>
              We can confirm the action with <kbd>Enter</kbd>, or cancel it with <kbd>Esc</kbd>.
              See the Actions section for more details.
            </p>

          </div>
          <div id="tab3" class="col s12">
            <h4>The Canvas</h4>
            
            <p dir="ltr">
              The right-side canvas shows an images and labels.
              Each label has a different color overlaid on the raw image.
            </p>

            <p dir="ltr">
              The borders of the canvas help show where we are within an image. 
              If a border is white, we are along an edge of the image. 
              If a border is black, the image extends off-canvas in that direction and we can pan or zoom out to view it.
            </p>
            
            <h5>Navigating the Canvas</h5>
            
            <p dir="ltr">
              <strong>Hover the mouse</strong> over a label to view the label info.
            </p>
            
            <p dir="ltr">
              Press <kbd>+</kbd> or <strong>hold <kbd>Alt</kbd> and scroll up</strong> to zoom in.
              <br>
              Press <kbd>-</kbd> or <strong>hold <kbd>Alt</kbd> and scroll down</strong> to zoom out.
            </p>
            
            <p dir="ltr">
              <strong>Hold <kbd>Space</kbd> and move the mouse</strong> on the canvas to pan around.
            </p>
            
            <p dir="ltr">
              Press <kbd>D</kbd> or <kbd>&rarr;</kbd> to view the next frame.
              <br>
              Press <kbd>A</kbd> or <kbd>&larr;</kbd> to view the previous frame.
            </p>
            
            <p dir="ltr">
              Press <kbd>C</kbd> to view the next channel.
              <br>
              Press <kbd>Shift</kbd> + <kbd>C</kbd> to view the previous channel.
            </p>
            
            <p dir="ltr">
              Press <kbd>F</kbd> to view the next feature.
              <br>
              Press <kbd>Shift</kbd> + <kbd>F</kbd> to view the previous feature.
            </p>
            
            <h5>Adjusting the Canvas</h5>
            
            <p dir="ltr">
              DeepCell Label can adjust how to dispaly labels and images.
              With these changes, we can make out finer details while labeling.
            </p>
            
            <p dir="ltr">
              <strong>Scroll</strong> on the canvas to change brightness. Brightness makes the whole image lighter or darker.
              <br>
              <strong>Hold <kbd>Shift</kbd> and scroll</strong> on the canvas to change the contrast. Increasing contrast improves the visibility of objects in the raw image.
              <br>
              Press <kbd>0</kbd> to reset the brightness and contrast.
              <br>
              Each channel adjusts its brightness and contrast separately.
            </p>
            
            <p dir="ltr">
              Press <kbd>Z</kbd> to toggle between viewing the label overlay, the labels only, and the raw image only.
            </p>

            <p dir="ltr">
              Press <kbd>I</kbd> to invert the raw image. 
              Inverting the raw image helps to see objects under the label overlay. 
              We can only invert the image when viewing label overlay.
            </p>
            
            <p dir="ltr">
              Press <kbd>H</kbd> to toggle highlighting. 
              Highlighting makes the foreground label bright red and helps to see which label we are editing.
            </p>
          </div>
          <div id="tab4" class="col s12">
            <h4>Select Labels</h4>
          
            <p dir="ltr">
              We control which labels we cab edit by selecting them as
              the <strong>foreground</strong> or the <strong>background</strong>.
              <br>
              When a label is the foreground, we can add more of that label,
              while when a label is background, we can remove it.
              <br>
              You select "no label" as either the foreground, 
              which lets us remove existing labels, or the background, 
              which lets us labels over unlabeled areas.
            </p>

            <p dir="ltr">
              We can select a label as the foreground in two ways:
              <br>
              <strong>Click</strong> on it while using the Select Tool
              <br>
              <strong><kbd>Shift</kbd> + Double Click</strong> while using any Tool.
            </p>

            <p dir="ltr">
              We can select a label as the background in two ways:
              <br>
              <strong>Double Click</strong> on it while using the Select Tool.
              <br>
              <strong><kbd>Shift</kbd> + Click</strong> while using any Tool.
            </p>

            <p dir="ltr">
              Double clicking also deselects other labels, instead making "no label" the other selected label.
              This helps avoid having selected labels that you are no longer working on.
            </p>

            <p dir="ltr">
              When you select an label that is already selected,
              the foreground and background swap instead.
              <br>
              Use this as a shortcut when working on a pair of labels, like adjusting their boundary
              so you can quickly work in both directions.
            </p>
          
            <p dir="ltr">
              Here are some keyboard shortcuts to change the selected labels.
              <br>
              Press <kbd>Esc</kbd> to reset the background to "no label".
              <br>
              Press <kbd>N</kbd> to select a new, unused foreground label. This will be a label that
              doesn't exist yet in the labeling. Once you add the new label, <kbd>N</kbd> will select a new, even higher label.
              <br>
              Press <kbd>X</kbd> to swap the foreground and background. Remember that you
              can also swap them by selecting either label a second time with the mouse.
              <br>
              Press <kbd>[</kbd> or <kbd>]</kbd> to cycle the foreground labels.
              <br>
              Press <kbd>Shift</kbd> + <kbd>[</kbd> or <kbd>Shift</kbd> + <kbd>]</kbd> to cycle the background labels.
            </p>
          </div>
          <div id="tab5" class="col s12">
            <h4>Tools</h4>
            
            <p dir="ltr">
              Using different tools changes what happens when clicking on the canvas.

            </p>
            <h5>Select</h5>

            <p dir="ltr">
              Label uses the the Select tool by default, which selects the foreground and the background label.
              <br>
              <strong>Click</strong> on a label to select it as the foreground, or
              <br>
              <strong>Double Click</strong> on a label to select it as the background.
              <br>
            </p>
                          
            <p dir="ltr">
              Remember you can also select labels while using <ital>any tool</ital> with
              <br>
              <strong><kbd>Shift</kbd> + Click</strong> to select the background, or
              <br>
              <strong><kbd>Shift</kbd> + Double Click</strong> to select the foreground.
            </p>

            <p dir="ltr">
              Selecting with Double Click also deselects other labels.
            </p>

            <p dir="ltr">
              Press <kbd>V</kbd> to use the Select tool.
            </p>


            <h5>Brush</h5>
            
            <p dir="ltr">
              The Brush tool paints the foreground label over the background label.
              <br>
              Other labels are left unedited.
              <br>
              <strong>Click + Drag</strong> to paint.

            </p>
            
            <p dir="ltr">
              Press <kbd>&uarr;</kbd> to increase the brush size.
              Press <kbd>&darr;</kbd> to decrease the brush size.
            </p>
            
            <p dir="ltr">
              Press <kbd>B</kbd> to use the Brush tool.
            </p>
            
            <h5>Threshold</h5>
            
            <p dir="ltr">
              The Threshold tool fills the brightest pixels within a bounding box with
              the foreground label. 
              <br>
              The tool only overwrites unlabeled area and 
              does not edit any other labels.
              <br>
              <strong>Click + Drag</strong> on the canvas to draw a bounding box and threshold.
            </p>
            
            <p dir="ltr">
              Press <kbd>T</kbd> to use the Threshold tool.
            </p>
            
            <h5>Grow/Shrink</h5>
            
            <p dir="ltr">
              The Grow/Shrink tool expands the foreground label by one pixel
              or contracts the background label by one pixel.
              
              <br>
              When you <strong>Click</strong> on the foreground label, its boundary grows.
              <br>
              When you <strong>Click</strong> on the background label, its boundary shrinks.
              <br>
            </p>

            <p dir="ltr">
              Press <kbd>Q</kbd> to use the Grow/Shrink tool.
            </p>
            
            <h5>Flood</h5>
            
            <p dir="ltr">
              The Flood tool fills connected areas of label with another label.
              <br>
              <strong>Click</strong> on the background label to flood it with the foreground label.
            </p>
            
            <p dir="ltr">
              Press <kbd>G</kbd> to use the Flood tool.
            </p>
            
            <h5>Trim</h5>
            
            <p dir="ltr">
              The Trim tool removes disconnected areas of the background label, leaving only the connected pixels behind.
              <br>
              <strong>Click</strong> on the background label to trim it.
            </p>
            
            <p dir="ltr">
              Press <kbd>K</kbd> to use the Trim tool.
            </p>
            
            <h5>Autofit</h5>
            
            <p dir="ltr">
              The Autofit tool adjusts foreground label boundary to hug the nearest edges in the raw image.
              <br>
              This tool helps to fix the boundaries of an existing label, but it can't add a new label from scratch.
              <br>
              <strong>Click</strong> on the foreground label to autofit it.
            </p>
            
            <p dir="ltr">
              Press <kbd>M</kbd> to use the Autofit tool.
            </p>
            
            
            <h5>Watershed</h5>
            
            <p dir="ltr">
              The Watershed tool splits the foreground label into two.
              We can separate adjacent cells that mistakenly have the same label with Watershed.
              <br>
              <strong>Click</strong> in the center of one cell, 
              then <strong>Click</strong> in the center of another cell elsewhere in the same label
              to split them with Watershed.
            </p>
            
            <p dir="ltr">
              Press <kbd>W</kbd> to use the Watershed tool.
            </p>

            <h4>Select Shortcuts</h4>

            <p dir="ltr">
              Tools like Autofit or Flood can only edit selected labels.
              <br> To make these tools easier to use, clicking on an unselected label with these tools
              selects the label instead of doing an action.
              After clicking once to select, a second click on the same label always uses the tool and edits the labels.
            </p>

            <p dir="ltr">
              The Grow/Shrink, Autofit, and Watershed tools makes unselect labels the foreground.
              <br>
              The Trim and Flood tools makes unselected labels the background.
            </p>

          </div>
          <div id="tab6" class="col s12">
            <h4>Actions</h4>
            
            <p dir="ltr">
              Some actions are done with a keybind instead of clicking on the canvas.
              <br>
              These actions need to be confirmed with <strong>Enter</strong> or cancelled
              with <strong>Escape</strong>.
            </p>
            
            <p dir="ltr">
              Press <kbd>S</kbd> to swap the label foreground and background labels.
              <br>
              This action can only swap the labels on the current frame.
            </p>
            
            <p dir="ltr">
              Press <kbd>R</kbd> to replace the background label with the foreground label.
              <br>
              Press <kbd>Shift</kbd> + <kbd>R</kbd> to replace the background label on all frames.
            </p>
            
            <p dir="ltr">
              Press <kbd>O</kbd> to predict the labels based on the overlap with the previous frame.
              <br>
              Press <kbd>Shift</kbd> + <kbd>O</kbd> to predict the labels on all frames.
            </p>
          </div>
        </div>
    </div>
  </li>
</ul>
<!-- END infopane.html -->
