<!DOCTYPE html>
    <html>
    <head>
      <meta charset="utf-8">
      <title>Caliban</title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navigation.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
      <script>
        $(function(){
            //This function allows the input text to automatically resize according to it's length, allowing user to be able to comfortably view the filename they uplaod
            function resizeInput() {
                $(this).attr('size', $(this).val().length);
            }

            $('input[type="text"]')
            // event handler
            .keyup(resizeInput)
            // resize on page load
            .each(resizeInput);
        });
    </script>
    </head>
    <body>
        <div id="container">
            {% include "navigation.html" %}
            <div class='form-help'>
                <h3>
                    Click on a file that you would like use to see how Caliban works!
                </h5>
                <p>The .trk files allow you to annotate RAW264 cells across time-lapse frames while preserving relationship information.</p>
                <p>
                    The .npz files allow you to annotate different types of data. test.npz is an example of organoid annotation across z-stack frames. test2.npz is an example of untracked HeLa cytoplasm in a time-lapse movie (45 frames). test3.npz is another of untracked and
                    uncorrected HeLa cytoplasm, but is only 5 frames.
                </p>
            </div>
            <form id="caliban-form" method="POST" action="{{ url_for('tool') }}">
              <select name="filename">

                <option value="RAW264_S0_Batch02.trk">RAW264_S0_Batch02.trk </option>
                <option value="RAW264_S0_Batch05.trk">RAW264_S0_Batch05.trk</option>
                <option value="RAW264_S0_Batch06.trk">RAW264_S0_Batch06.trk</option>
                <!-- zstack test npz -->
                <option value="test.npz">test.npz</option>
                <!-- untracked cytoplasm movie test npz -->
                <option value="HeLa-S3_cyto_movie_s2b05_all_channels.npz">test2.npz</option>
                <option value="HeLa_movie_s0_uncorrected_fullsize_all_channels_x_00_y_01_frames_5-9.npz">test3.npz</option>

              </select>
              <br><br>
              <input type="submit">
            </form>
        </div>
        {% include "footer.html" %}
    </body>
  </html>