<!DOCTYPE html>
<html>
  <head>
    {% include "partials/head.html" %}
  </head>

  <body>
    <!-- START NAVBAR -->
    {% include "partials/navigation.html" %}
    <!-- END NAVBAR -->

    <!-- START INFOPANE -->
    {% include "partials/infopane.html" %}
    <!-- END INFOPANE -->

    <canvas width=600 height=400 id="hidden_seg_canvas"></canvas>

    <main class="container">
      <div class="row">

        <div class="col s6 left">

          <h4>Tracking Tool</h4>
          <p>Filename will be given after submit button is pressed.</p>

          <div class="row">
            <div class="col s6">
              <button id="submit" class="btn waves-effect waves-light indigo" onClick="upload()">
                Submit<i class="material-icons right">send</i>
              </button>
            </div>

            <div class="col s6">
              {% include "partials/loading-bar.html" %}
            </div>

          </div>

          <p id="give_filename"></p>

          {% include "partials/track_table.html" %}

        </div>

        <div class="col s6 right">
          <canvas width=600 height=400 id="canvas" class="z-depth-2"></canvas>
          <div id="output"></div>
        </div>

      </div>
    </main>

    <!-- START FOOTER -->
    {% include "partials/footer.html" %}
    <!-- END FOOTER -->

    <!-- START JS IMPORTS -->
    <!--JavaScript at end of body for optimized loading-->
    {% include "partials/js.html" %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/main_track.js') }}"></script>
    <!-- END JS IMPORTS -->

    <!-- START CALIBAN FUNCTION CALL -->
    <script>
      function upload() {
        // disable button and show loading bar
        document.getElementById("submit").classList.add("disabled");
        document.getElementById("loading-bar").classList.add("active");
        upload_file();
        document.getElementById("loading-bar").classList.remove("active");
        document.getElementById("give_filename").innerHTML = "Filename to COPY/PASTE: {{filename}}";
      }
      start_caliban("{{filename}}");
    </script>
    <!-- END CALIBAN FUNCTION CALL -->

  </body>
</html>
