<!DOCTYPE html>
<html>
  <head>
    <title>Caliban</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main_track.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navigation.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/infopane.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
  </head>

  <body>
    {% include "navigation.html" %}
    {% include "infopane.html" %}
    <canvas width=600 height=400 id="hidden_canvas"></canvas>
    <div id="container">
      <table id="maintable">
        <tr>
          <td id="logcol">
            <!-- <table id="log"> -->
<!--               <tr height="50%" valign="top">
                
              </tr> -->


              <h1>Tracking Tool</h1>
              </p>Filename will be given after submit button is pressed.</p>
              <form class='changed-form' action="/" method="POST" enctype="multipart/form-data">
                <label class="changed-label" for="user_file"></label>
                <button type="submit" type="submit">Submit</button>
              </form>

              <div>
                <h3 class='frame_status'>frame: </h1> <span id="frame"></span> 
                <h3 class='view_mode'>highlight mode: </h1><span id="highlight"></span>
                <h3 class='view_mode'>edit mode: </h1> <span id="edit_mode"></span> 
              </div>

               <div>
                <ul class='view_mode' style="list-style-type:none">
                  <li id="edit_brush"></li>
                  <li id="edit_label"></li>
                  <li id="edit_erase"></li>
                </ul>
              </div>

              <div>
                <h3 class='cell_info'>label: </h1> <span id="label"></span> 
                <h3 class='cell_info'>parent cells: </h1><span id="parent"></span>
                <h3 class='cell_info'>daughters cells: </h1> <span id="daughters"></span> 
                <h3 class='cell_info'>divisions in frame: </h1> <span id="frame_div"></span>
                <h3 class='cell_info'>capped: </h1> <span id="capped"></span>
                <h3 class='cell_info'>frames: </h1> <span id="frames"></span>
              </div>

              <div>
                <h3 class="selected_status"> state:</h4><span id="mode"></span>
              <div>

            <!-- </table> -->
          </td>
          <td id="canvascol">
            <canvas width=600 height=400 id="canvas"></canvas>
          </td>
        </tr>
      </table>
    </div>
  <!-- START CALIBAN FUNCTION CALL -->
  <script>
    var file = "{{filename}}"
    start_caliban(file);
  </script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/infopane.js') }}"></script>
<!-- END CALIBAN FUNCTION CALL -->
    {% include "footer.html" %}
  </body>
</html>