<!DOCTYPE html>
<html>
  <head>
    <title>Caliban</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main_zstack.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navigation.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/infopane.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
  </head>

  <body>
    {% include "navigation.html" %}
    {% include "infopane.html" %}
    <canvas width=600 height=400 id="hidden_canvas"></canvas>
    <div id="container">
      <table id="maintable">
        <tr>
          <td id="logcol">

            <h1>Z-Stack Tool</h1>
            <p>Filename will be given after submit button is pressed.</p>

            <p id="submit" onclick="upload() ">
              <strong>CLICK HERE TO SUBMIT</strong>
            </p>

            <p id="give_filename" ></p>

            <table id="log">
              <tr height="50%" valign="top"><td>frame: </td><td id="frame"></td></tr>
              <tr><td>channel: </td><td id="channel"></td></tr>
              <tr><td>feature: </td><td id="feature"></td></tr>
              <tr><td>highlight cells: </td><td id="highlight"></td></tr>
              <tr><td>highlighted cells: </td><td id="currently_highlighted"></td></tr>
              <tr><td>edit mode: </td><td id="edit_mode"></td></tr>
              <tr id='edit_brush_row'>
                <td>brush size: </td><td id="edit_brush"></td>
              </tr>
              <tr id='edit_label_row'>
                <td>editing label: </td><td id="edit_label"></td>
              </tr>
              <tr id='edit_erase_row'>
                <td>eraser: </td><td id="edit_erase"></td>
              </tr>
              <tr><td>label:</td><td id="label"></td></tr>
              <tr><td>slices:</td><td><div id="slices"></div></td></tr>
              <tr><td>state:</td><td id="mode"></td></tr>
            </table>
          </td>
          <td id="canvascol">
            <canvas width=600 height=400 id="canvas"></canvas>
            <div id="output"></div>
          </td>
        </tr>
      </table>
    </div>
<!-- START CALIBAN FUNCTION CALL -->
  <script>
    var file = "{{filename}}"

    function upload() {
      document.getElementById("submit").innerHTML = "";
      document.getElementById("give_filename").innerHTML = "Loading file to our database... (wait 10-15 seconds)";
      upload_file();
      document.getElementById("submit").innerHTML = "";
      document.getElementById("give_filename").innerHTML = "Filename to COPY/PASTE: " + file;
    }

    start_caliban(file);
  </script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/infopane.js') }}"></script>
<!-- END CALIBAN FUNCTION CALL -->
  {% include "footer.html" %}
  </body>
</html>