<!DOCTYPE html>
<html>
  <head>
    <title>Caliban</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main_zstack.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navigation.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/infopane.css') }}">
  </head>

  <body>
    {% include "navigation.html" %}
    {% include "infopane.html" %}
    <canvas width=600 height=400 id="hidden_canvas"></canvas>
    <div id="container">
      <table id="maintable">
        <tr>
          <td id="logcol">
            <table id="log">
              <tr height="50%" valign="top">
                <td>frame: </td><td id="frame"></td>
                <tr><td>channel: </td><td id="channel"></td></tr>
                <tr><td>feature: </td><td id="feature"></td></tr>
                <tr><td>edit mode: </td><td id="edit_mode"></td><tr>
                <tr><td id="edit_brush"></td><tr>
                <tr><td id="edit_label"></td><tr>
                <tr><td id="edit_erase"></td><tr>

              </tr>
              <h1>Z-Stack Tool</h1>
            </p>Filename: {{filename}}</p>
              <tr><td>label:</td><td id="label"></td></tr>
              <tr><td>slices:</td><td><div id="slices"></div></td></tr>
              <tr><td>state:</td><td id="mode"></td></tr>

              <form class='changed-form' action="/" method="POST" enctype="multipart/form-data">
                <label class="changed-label" for="user_file"></label>
                <button type="submit">Submit</button>
              </form>
            </table>
          </td>
          <td id="canvascol">
            <canvas width=600 height=400 id="canvas"></canvas>
            <input type="button" value="draw" onclick="use_tool('draw');" />
            <input type="button" value="erase" onclick="use_tool('erase');" />
            <div id="output"></div>
          </td>
        </tr>
      </table>
    </div>
<!-- START CALIBAN FUNCTION CALL -->
  <script>
    var file = "{{filename}}"
    start_caliban(file);
  </script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/infopane.js') }}"></script>
<!-- END CALIBAN FUNCTION CALL -->
  </body>
</html>