{% extends "base.html" %}

{%- block content -%}

<main class="container">
  <div class="row">
    <div class="col s12">
      <p>Loading file from S3 bucket:</p>
      <blockquote>{{ filename }}</blockquote>
      {% include "partials/loading-bar.html" %}
    </div>
</main>
{%- endblock -%}

{%- block extraJs -%}
{%- if filetype == "zstack" -%}
  <script type="text/javascript" src="{{ url_for('static', filename='js/main_zstack.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/actions.js') }}"></script>
{%- elif filetype == "track" -%}
  <script type="text/javascript" src="{{ url_for('static', filename='js/main_track.js') }}"></script>
{%- endif -%}

<!-- START DeepCell Label FUNCTION CALL -->
<script>
  var settings = {{settings | tojson}};
  loadS3File("{{filename}}", settings);

</script>
<!-- END DeepCell Label FUNCTION CALL -->
{%- endblock -%}
