{
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["jest", "prettier"],
  "rules": {
    "semi": "off",
    "js-doc": "off",
    "space-before-function-paren": "off",
    "comma-dangle": "off",
    "jest/no-conditional-expect": "off"
  },
  "extends": ["react-app", "react-app/jest", "plugin:jest/recommended"]
}
